<p>progress-bar works!</p>

<h1> Progress Bar</h1>
<div style="margin: 20px;">

  <h3> Query Mode</h3>
  <mat-progress-bar class="height-progressbar" mode="query" value="40" color="warn"></mat-progress-bar> <hr>
  <h3> Buffer Mode</h3>
  <mat-progress-bar class="height-progressbar" mode="buffer" value="40"></mat-progress-bar> <hr>
  <h3> Query Mode</h3>
  <mat-progress-bar class="height-progressbar" mode="indeterminate" value="40"></mat-progress-bar> <hr>
  <h3> Query Mode</h3>
  <mat-progress-bar class="height-progressbar" mode="determinate" value="40" color="accent"></mat-progress-bar><hr>


</div>
