<mat-tab-group>
  <mat-tab animationsDuration="4000ms">
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">thumb_up</mat-icon>
      First
    </ng-template>
    <h3>Contents Of Tab 1</h3>
    <div style="margin: 30px; outline-color: gray;">
      <p> This is inside tab content</p>
      <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/292D31tfRfw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">thumb_up</mat-icon>
      Second
    </ng-template>
     <h3>Contents Of Tab 2</h3>
    <div style="margin: 30px; outline-color: gray;">
      <p> This is inside tab content</p>
      <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Joe1mliNj2A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">thumb_up</mat-icon>
      Third
    </ng-template>

     <h3>Contents Of Tab 3</h3>
    <div style="margin: 30px; outline-color: gray;">
      <p> This is inside tab content</p>
      <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/GCvSIQNNXiM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
